
/* ----------------------------------------------------- */

.links {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  border:  solid white;
  border-width: 1px;
  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 12px;
  font-size: 15px;
}

/* ----------------------------------------------------- */



/* --------------YOUTUBE--------------------------------------- */

.links-youtube{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-youtube:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: white;
}
/* --------------YOUTUBE--------------------------------------- */


/* --------------GITHUB--------------------------------------- */

.links-Github{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-Github:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: white;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: black;
}
/* --------------GITHUB--------------------------------------- */

/* --------------WHATSAPP--------------------------------------- */
.links-whatsapp{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-whatsapp:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: #C5221F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EA4335, #C5221F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EA4335, #C5221F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: #d9ff02;
}
/* --------------WHATSAPP--------------------------------------- */

/* --------------INSTAGRAM--------------------------------------- */

.links-instagram{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-instagram:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: white;
}
/* --------------INSTAGRAM--------------------------------------- */


/* --------------TWITTER--------------------------------------- */

.links-shopping{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-shopping:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: aqua;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, aqua, aqua);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, aqua, aqua); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: black;
}
/* --------------TWITTER--------------------------------------- */


/* --------------LIN--------------------------------------- */

.links-linkedin{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-linkedin:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: #0072AC;  /* fallback for old browsers */

width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: white;
}
/* --------------LIN--------------------------------------- */



/* --------------Apps--------------------------------------- */

.links-mail{
text-align: center;
margin-top: 20px;
padding: 20px;
border:  solid white;
border-width: 0.5px;
width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
}

.links-mail:hover{
text-align: center;
margin-top: 20px;
padding: 20px;
background: blue;  /* fallback for old browsers */

width: 290px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
font-size: 15px;
color: #ffffff;
transition: none;
}
/* --------------MAIL--------------------------------------- */



